<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>THE RED GOLD</title>
    <style>
      table {
          width: 100%;
          border-collapse: collapse;
      }
      th, td {
          border: 1px solid black;
          padding: 8px;
          text-align: left;
      }
      th {
          background-color: #fffbfb;
      }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
 
  </head>
  <body>
    
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWEQgouavGAS60LcAQIsKYulhmp3yGbmCs6b84wdt-mQ&s" width="50px" height="50px" class="d-inline-block align-top" style="border-radius: 30px;" alt="">
          <a class="navbar-brand" style="font-size: 30px;">RED GOLD</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="home">HOME <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="AvailableBlood">AVAILABILITY</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="certificate">CERTIFICATE</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="contactus">CONTACT US</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="about">ABOUT US</a>
                  </li>
                
              </ul>
          </div>
      </nav>
    </div>


   <section>
    <table class="table table-striped TABLE-RESPONSIVE" style="margin:70px" >
      <thead>
          <tr>
              <th>CITY</th>
              <th>AREA</th>
              <th>ADDRESS</th>
              <th>EMAIL</th>
              <th>CONTACT NO</th>
              <th>BRANCH MANAGER</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Kanpur</td>
              <td>Civil Lines</td>
              <td>123, ABC Street</td>
              <td>kanpurbloodbank@example.com</td>
              <td>1234567890</td>
              <td>JAHAN ALAM</td>
          </tr>
          <tr>
              <td>Jhansi</td>
              <td>Gwalior Road</td>
              <td>456, XYZ Street</td>
              <td>jhansibloodbank@example.com</td>
              <td>9876543210</td>
              <td>JORDAN ARORA</td>
          </tr>
          <tr>
            <td>Delhi</td>
            <td>Lajpat Nagar</td>
            <td>789, PQR Street</td>
            <td>delhibloodbank@example.com</td>
            <td>9871234560</td>
            <td>SHIVAM RASTOGI</td>
        </tr>
        <tr>
            <td>Mumbai</td>
            <td>Andheri West</td>
            <td>101, LMN Street</td>
            <td>mumbaibloodbank@example.com</td>
            <td>9823456789</td>
            <td>SIMRAN SHETTY</td>
        </tr>
        
      </tbody>
  </table>
   </section>






    
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

  </body>
</html>